.row {
  background-color: rgb(185, 209, 253);
}

.portfolio {
  width: 50%;
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: rgb(185, 209, 253);
}

.interests {
  text-align: center;
  background-image: url(../img/marble.jpg);
  border-radius: 25px !important;
}

.portfolio2 {
  border: 3px solid black;
}

.marble {
  background-image: url(../img/marble.jpg);
  border-radius: 25px;
}
.marble2 {
  background-image: url(../img/marble.jpg);
}

.interests2 {
  text-align: center;
}

.alignright {
  text-align: center;
}
