.row {
  background-color: rgb(185, 209, 253);
  display: flex;
  flex-flow: row wrap;
}

.portfolio {
  width: 50%;
  border: 5px double black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: rgb(185, 209, 253);
}

.interests {
  text-align: center;
  background-image: url(../img/marble.jpg);
  border-radius: 25px !important;
  border: 2px solid black;
  text-align: center;
}

.portfolio2 {
  border: 3px solid black;
  background-image: url(../img/marble.jpg);
  text-align: center;
}

.marble {
  background-image: url(../img/marble.jpg);
  border-radius: 25px;
}
.marble2 {
  background-image: url(../img/marble.jpg);
  border: 2px solid black;
  text-align: center;
}

.interests2 {
  text-align: center;
}

.alignright {
  text-align: center;
}

.project {
  text-align: center;
  background-image: url(../img/paper.gif);
  border: 2px solid black;
  border-radius: 25px;
}

.project2 {
  background-image: url(../img/paper.gif);
  border: 2px solid black;
  text-align: center;
}

.cat {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px double rgb(255, 0, 0);
}
